<footer>
    <ul>
        <li>Departamentos</li>
        <li>Notebook</li>
        <li>Computadores</li>
        <li>Monitores</li>
        <li>Acessorios</li>
        <li>Consoles</li>
        <li>Gadgets</li>
    </ul>
    <ul>
        <li>Institucional</li>
        <li>Quem somos</li>
        <li>Anuncie aqui</li>
        <li>Trabalhe conosco</li>
    </ul>
    <ul>
        <li>Midias Sociais</li>
        <li> <img src="/img/IntagramIcone.svg" alt=""></li>
        <li><img src="/img/FacebookIcone.svg" alt=""></li>
        <li> <img src="/img/LinkedInIcone.svg" alt=""></li>
        <li><img src="/img/TwitterIcone.svg" alt=""></li>
    </ul>
    <ul>
        <li>Minha conta</li>
        <li>Login</li>
        <li>Editar perfil</li>
        <li>Historico de compras</li>
        <li>Reembolso e devoluções</li>
    </ul>
    <ul>
        <li>Atendimento</li>
        <li>Horario de Atendimento 8:00 as 20:00</li>
        <li>central sac 0800-xxxx</li>
    </ul>
</footer>