<footer>
    <ul>
        <li>Departamentos</li>
        <li>Notebook</li>
        <li>Computadores</li>
        <li>Monitores</li>
        <li>Acessorios</li>
        <li>Consoles</li>
        <li>Gadgets</li>
    </ul>
    <ul>
        <li>Institucional</li>
        <li>Quem somos</li>
        <li>Anuncie aqui</li>
        <li>Trabalhe conosco</li>
    </ul>
    <div class="midias">
        <p>Midias Sociais</p>
        <ul class="icons">
            <li><i class="bi bi-instagram"></i></li>
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-linkedin"></i></i></li>
            <li><i class="bi bi-twitter"></i></li>
        </ul>
    </div>
    <ul>
        <li>Minha conta</li>
        <li>Login</li>
        <li>Editar perfil</li>
        <li>Historico de compras</li>
        <li>Reembolso e devoluções</li>
    </ul>
    <ul>
        <li>Atendimento</li>
        <li>Horario de Atendimento 8:00 as 20:00</li>
        <li>central sac 0800-xxxx</li>
    </ul>
</footer>