<!DOCTYPE html>
<html lang='en'>

<%- include('partials/head.ejs')  %> 

<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <section>
            <a href="#"> <img src="/img/notebook.png" alt=""> Notebook</a>
            <a href="#"> <img src="/img/notebook.png" alt=""> Computadores</a>
            <a href="#"> <img src="/img/notebook.png" alt=""> Monitores</a>
            <a href="#"> <img src="/img/notebook.png"alt=""> Acessorios</a>
            <a href="#"> <img src="/img/notebook.png" alt=""> Console</a>
            <a href="#"> <img src="/img/notebook.png" alt=""> Gadgets</a>
        </section>
        <section>
            <img src="/img/notebook.png" alt="">
        </section>
        <section>
            <span>Continue de onde parou</span>
            <img src="/img/notebook.png" alt="">
            <span>Notebook</span>
            <span>Produto em destaque</span>
            <img src="/img/notebook.png" alt="">
            <span>Notebook</span>
        </section>
        <section>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
            <div class="container">
                <img src="/img/notebook.png" alt="">
                <span>Notebook</span>
                <span>R$1.000,00</span>
                <i class="bi bi-star"></i>
            </div>
        </section>

    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>