<!DOCTYPE html>
<html lang='en'>

    <%- include('partials/head.ejs')  %> 

    <body>
        <%- include('partials/header.ejs') %> 
        <main>
            <section class="departamentos">
                <a href="#">
                    <img src="/img/notebook.png" alt=""> 
                    <span>
                        Notebook
                    </span>
                </a>
                <a href="#"> <img src="/img/notebook.png" alt=""> Computadores</a>
                <a href="#"> <img src="/img/notebook.png" alt=""> Monitores</a>
                <a href="#"> <img src="/img/notebook.png"alt=""> Acessorios</a>
                <a href="#"> <img src="/img/notebook.png" alt=""> Console</a>
                <a href="#"> <img src="/img/notebook.png" alt=""> Gadgets</a>
            </section>

            <section class="banner">
                <a href="/">&lt;</a>
                <a href="/">&gt;</a>
                <img src="/img/banner.svg" alt="Banner">
            </section>

            <section class="destaques">
                <div>
                    <span>Continue de onde parou</span>
                    <img src="/img/notebook.png" alt="">
                    <span>Notebook</span>
                </div>
                <div>
                    <span>Produto em destaque</span>
                    <img src="/img/notebook.png" alt="">
                    <span>Notebook</span>
                </div>
            </section>

            <section class="lista--produtos">
                <% for( let index = 0; index < 10; index++ ) { %>
                    <div class="card--produto">
                        <img src="/img/notebook.png" alt="">
                        <div>
                            <span class="product--title">Notebook 4GB, SSD 250GB, i5, 16 polegadas, Samsung.</span>
                            <span class="full--price">de R$ 1500,00</span>
                            <span class="discount--price">R$1.000,00</span>
                            <div class="ratings">
                                <% for( let index = 0; index < 5; index++ ) { %>
                                    <i class="bi bi-star-fill"></i>
                                <% } %>
                                <!-- Quantidade de votos -->
                                <span>(1550)</span>
                                <span class="quantity">Restam 1550 un.</span>       
                            </div>
                        </div>
                    </div>
                <% } %>
            </section>

        </main>

        <%- include('partials/footer.ejs') %>

    </body>
</html>