<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/listaProdutos.css">
    <script src="/js/mostrarFiltros.js" defer></script>
    <script src="/js/alterarQuantPorPag.js" defer></script>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <main>
        
    </main>

</body>

</html>