* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #011C43;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
}

img {
    width: 190px;
}

button {
    height: 32px;
    width: 80px;
    border-radius: 5px;
}

ul {
    display: flex;
    list-style: none;
    column-gap: 15px;
}

a {
   text-decoration: none;
   color: inherit;
} 
